<div class="admin-container">
      <div class="header-section">
        <h2>Gestión de Categorías</h2>
        <button mat-raised-button color="primary" (click)="toggleForm()">
          <mat-icon>{{ showForm ? 'remove' : 'add' }}</mat-icon>
          {{ showForm ? 'Cancelar' : 'Nueva Categoría' }}
        </button>
      </div>

      <!-- Formulario -->
      <mat-card *ngIf="showForm" class="mb-4 fade-in">
        <mat-card-header>
          <mat-card-title>{{ isEditing ? 'Editar Categoría' : 'Agregar Categoría' }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="catForm" (ngSubmit)="onSubmit()">
            
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" placeholder="Ej: Electrónica">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Descripción</mat-label>
              <textarea matInput formControlName="descripcion" rows="2"></textarea>
            </mat-form-field>



            <div class="actions">
              <button mat-stroked-button type="button" (click)="toggleForm()">Cancelar</button>
              <button mat-raised-button color="primary" type="submit" [disabled]="catForm.invalid || isLoading">
                {{ isLoading ? 'Guardando...' : (isEditing ? 'Actualizar' : 'Guardar') }}
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>

      <!-- Lista -->
      <mat-card *ngIf="categorias.length > 0; else noData">
        <mat-list>
          <div *ngFor="let cat of categorias">
            <mat-list-item>
              <mat-icon matListItemIcon>category</mat-icon>
              
              <div matListItemTitle>
                <strong>{{ cat.nombre }}</strong>
              </div>
              <div matListItemLine>{{ cat.descripcion }}</div>
              
              <div matListItemMeta>
                <button mat-icon-button color="primary" (click)="editCat(cat)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteCat(cat)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
      </mat-card>

      <ng-template #noData>
        <div class="empty-state">
          <mat-icon>category</mat-icon>
          <p>No hay categorías registradas.</p>
        </div>
      </ng-template>
    </div>