<div class="profile-container">
  <div class="profile-sidebar">
    <mat-nav-list>
      <a mat-list-item (click)="selectSection('userdata')" [class.active]="selectedSection === 'userdata'">
        <mat-icon>person</mat-icon>
        <span>Datos Personales</span>
      </a>
      <a mat-list-item (click)="selectSection('password')" [class.active]="selectedSection === 'password'">
        <mat-icon>lock</mat-icon>
        <span>Contraseña</span>
      </a>
      <a mat-list-item (click)="selectSection('pregunta')" [class.active]="selectedSection === 'pregunta'">
        <mat-icon>security</mat-icon>
        <span>Pregunta Secreta</span>
      </a>
    </mat-nav-list>
  </div>
  <div class="profile-content">
    <app-userdata *ngIf="selectedSection === 'userdata'"></app-userdata>
    <app-password *ngIf="selectedSection === 'password'"></app-password>
    <app-pregunta *ngIf="selectedSection === 'pregunta'"></app-pregunta>
  </div>
</div>
